.downloadWrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.downloadImage {
  width: 50%;
  position: relative;
  background-color: var(--coollab-secondary-color);
  border-radius: var(--radius-max);
}

.downloadImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-max);
}

.downloadContent {
  width: 50%;
  background-color: var(--coollab-primary-color);
  border-radius: var(--max);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
