.downloadWrapper {
  display: flex;
  overflow: hidden;
}

.downloadImage {
  width: 50%;
  position: relative;
  background-color: var(--coollab-secondary-color);
  border-radius: var(--radius-mid);
}

.downloadImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-mid);
}

.downloadContent {
  width: 50%;
  background-color: var(--coollab-primary-color);
  border-radius: var(--max);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.extraButtons {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* === Responsive === */
@media (min-width: 769px) {
  .downloadWrapper {
    height: 100vh;
  }
  .downloadContent {
    padding-left: 2rem;
  }
}

@media (max-width: 768px) {
  .downloadWrapper {
    flex-direction: column;
  }
  .downloadImage {
    width: 100%;
  }
  .downloadContent {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .downloadContent .sectionTitle {
    font-size: 2.5rem;
  }
  .extraButtons {
    margin-bottom: 2.4rem;
    justify-content: center;
  }
}
