/* TODO(Website) move to a Follow component */

.sectionTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  padding: 0em 1em;
}

/* === Responsive === */
@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.7rem;
  }
}
