/* ---- Wave ---- */
.svgTop {
  position: relative;
  width: 100%;
  line-height: 0;
  display: block;
  margin-top: -20%;
  z-index: 3;
}

.heroSection {
  position: relative;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  border-radius: var(--radius-max);
  box-sizing: border-box;
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--coollab-gradient);
  opacity: 0.5;
  /* mix-blend-mode: screen; */ /* TODO(Website)? */
  z-index: 1;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/demo.png");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  transform: scale(1.05);
  z-index: 0;
}

.heroContent {
  position: relative;
  z-index: 1;
  max-width: 800px;
  color: white;
  margin-top: -10vh;
}

.heroTitle,
.heroSubtitle {
  line-height: 1.1;
}

.heroTitle {
  font-size: 7.5rem;
  font-weight: bold;
  margin: 0;
}

.heroSubtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0;
  color: white;
}

.sectionTitle {
  margin-top: 1em;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  padding: 0em 1em;
}

.section {
  color: white;
  text-align: center;
}

.sectionTitle {
  margin-top: 1em;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  padding: 0em 1em;
}

.sectionSubtitle {
  font-size: 1.2rem;
  margin: 1.5em 0 3em 0;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Roboto", sans-serif;
  padding: 0em 1em;
}

.content {
  background-color: var(--coollab-primary-color);
  padding-top: 0;
  z-index: 1;
  position: relative;
}

/* === Responsive === */
@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.7em;
  }
  .sectionSubtitle {
    font-size: 1rem;
  }
}

/* -- Wave -- */
.heroSvg {
  position: absolute;
  bottom: -30%;
  width: 100%;
  z-index: 1;
  line-height: 0;
}

.darkSection {
  background-color: var(--secondary);
  color: white;
  padding: 1rem 2rem;
  text-align: center;
}

/* Buttons */
.secondaryBtn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0.4em 1.5em;
  background: white;
  color: var(--coollab-primary-color);
  border: 2px solid white;
  border-radius: var(--radius-mid);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 11%;
  transition: all 0.3s ease;
}

.secondaryBtn:hover {
  color: var(--coollab-primary-color);
  text-decoration: none;
  border-radius: var(--radius-max);
}

.thirdBtn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  background: rgba(255, 255, 255, 0.14);
  color: var(--coollab-light-color);
  border-radius: var(--radius-mid);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 11%;
  transition: all 0.3s ease;
}

.thirdBtn:hover {
  text-decoration: none;
  border-radius: var(--radius-max);
}

/* -- Follow Section -- */
.followSection {
  margin-bottom: 2em;
}

/* -- OS Section -- */
.osSection,
.followSection {
  text-align: center;
  padding-bottom: 4em;
}

.osSection a {
  font-weight: bold;
}

.osButtons,
.followButtons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2.4rem;
  flex-wrap: wrap;
}

.osButton {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-transform: uppercase;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.mobileAppImageNote {
  margin-top: 2em;
  display: none;
}

/* === Responsive === */
@media (max-width: 768px) {
  .mobileAppImageNote {
    display: block;
  }
  .heroSection {
    height: 95vh;
  }
  .heroContent {
    padding: 0em 2em;
  }
  .heroTitle {
    font-size: 5em;
    margin-top: 1em;
  }
  .heroSubtitle {
    font-size: 1.3em;
  }
  .heroContent .secondaryBtn {
    margin-top: 2em;
  }
  .sectionTitle {
    font-size: 1.7rem;
  }
}
