.wideText {
  max-width: 65%;
}
.wideImage {
  width: 70%;
}

.wideTextSmaller {
  max-width: 60%;
}
.wideImageSmaller {
  width: 65%;
}

@media (max-width: 768px) {
  .wideText,
  .wideTextSmaller {
    max-width: 85%;
  }
  .wideImage,
  .wideImageSmaller {
    width: 90%;
  }
}
