.heroSection {
  position: relative;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-image: url('/img/background/homepage-background-placeholder.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius:var(--radius-max);
}

.heroSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--coollab-gradient);
  opacity: .4;
  z-index: 1;
}

.heroContent {
  position: relative;
  z-index: 10;
  max-width: 800px;
  color: white;
  margin-top:-10vh;
}

.heroTitle,
.heroSubtitle {
  line-height: 1.1;
}

.heroTitle {
  font-size: 8rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin:0;
  padding:0;
}

.heroSubtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight:bold;
  margin-bottom:1em;
  padding:0;
  color: white;
}

/* Buttons */
.secondaryBtn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: .4em 1.5em;
  background: white;
  color: var(--coollab-primary-color);
  border: 2px solid white;
  border-radius: var(--radius-mid);
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing: 11%;
  transition: all 0.3s ease;
}

.secondaryBtn:hover {
  color: var(--coollab-primary-color);
  text-decoration: none;
  border-radius: var(--radius-max);
}

.heroSvg {
  position: absolute;
  bottom: -30%;
  width: 100%;
  z-index: 1;
  line-height: 0;
}

.darkSection {
  background-color: var(--secondary);
  color: white;
  padding: 1rem 2rem;
  text-align: center;
}