.sectionTitle {
  margin-top: 1em;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  padding: 0em 1em;
}

.section {
  color: white;
  text-align: center;
}

.sectionTitle {
  margin-top: 1em;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  padding: 0em 1em;
}

.sectionSubtitle {
  font-size: 1.2rem;
  margin: 1.5em 0 3em 0;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Roboto", sans-serif;
  padding: 0em 1em;
}

.content {
  background-color: var(--coollab-primary-color);
  padding-top: 0;
  z-index: 1;
  position: relative;
}

/* === Responsive === */
@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.7em;
  }
  .sectionSubtitle {
    font-size: 1rem;
  }
}

/* Buttons */
.secondaryBtn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0.4em 1.5em;
  background: white;
  color: var(--coollab-primary-color);
  border: 2px solid white;
  border-radius: var(--radius-mid);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 11%;
  transition: all 0.3s ease;
}

.secondaryBtn:hover {
  color: var(--coollab-primary-color);
  text-decoration: none;
  border-radius: var(--radius-max);
}

.thirdBtn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  background: rgba(255, 255, 255, 0.14);
  color: var(--coollab-light-color);
  border-radius: var(--radius-mid);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 11%;
  transition: all 0.3s ease;
}

.thirdBtn:hover {
  text-decoration: none;
  border-radius: var(--radius-max);
}

/* -- Follow Section -- */
.followSection {
  margin-bottom: 2em;
}

/* -- OS Section -- */
.osSection,
.followSection {
  text-align: center;
  padding-bottom: 4em;
}

.osSection a {
  font-weight: bold;
}

.osButtons,
.followButtons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2.4rem;
  flex-wrap: wrap;
}

.osButton {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-transform: uppercase;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.mobileAppImageNote {
  margin-top: 2em;
  display: none;
}

/* === Responsive === */
@media (max-width: 768px) {
  .mobileAppImageNote {
    display: block;
  }
  .heroSection {
    height: 95vh;
  }
  .heroContent {
    padding: 0em 2em;
  }
  .heroTitle {
    font-size: 5em;
    margin-top: 1em;
  }
  .heroSubtitle {
    font-size: 1.3em;
  }
  .heroContent .secondaryBtn {
    margin-top: 2em;
  }
  .sectionTitle {
    font-size: 1.7rem;
  }
}
