/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Template */
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  /* ==== COLORS ==== */
  --coollab-gradient: linear-gradient(90deg, #F4AD7F 0%, #8656D7 50%, #30A7F5 100%);
  --coollab-gradient-reverse: linear-gradient(90deg, #30A7F5 0%, #8656D7 50%, #F4AD7F 100%);
  --coollab-primary-color: #27272A;
  --coollab-secondary-color:#1B1B1D;
  --coollab-light-color: #FFFF;
  /* ==== FONTS ==== */
  --font-title: 'League Spartan', sans-serif;
  --font-body: 'Roboto', sans-serif;
  /* ==== RADIUS ==== */
  --radius-mid:10px;
  --radius-max:25px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

html,
body {
  font-family: var(--font-body);
  background-color: var(--coollab-primary-color);
  box-sizing: border-box;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  margin: 0;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  background-color: rgba(27, 27, 29, 0.3);
  border-radius: var(--radius-max);
  box-shadow: none;
  z-index: 999;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar__items {
  gap:25px;
}

.navbar__link {
  color: var(--coollab-light-color);
  font-weight:bold;
  letter-spacing: 1px;
  font-size:16px;
  letter-spacing: 10%;
  padding:.3em 1.6em;
  transition:.2s ease-in;
}

.navbar__link:hover {
  color: var(--coollab-light-color);
  background-color: rgba(255,255,255,.2);
  border-radius:var(--radius-max);
}

.navbar__link[href="/Download"] {
  background: var(--coollab-gradient);
  border-radius:var(--radius-mid);
}

.navbar__link[href="/Download"]:hover {
  border-radius:var(--radius-max);
  filter:brightness(120%);
}

.navbar--scrolled {
  background-color: rgba(27, 27, 29, 0.6);
  transition: background-color 2s ease;
}

/* Footer */
.footer, .footer-dark {
  background-color: var(--coollab-secondary-color);
}

.footer__col {
  text-align: center;
}

.footer__links {
    margin-bottom: 0;
}

.footer__title {
  margin-bottom:0;
}

.footer__copyright {
    font-size: 12px;
}

.image-in-text {
  width: 20px;
  vertical-align: middle;
}

/* Slider */

.react-3d-carousel {
  --slider-height: 60vh;
  min-height: var(--slider-height);
  margin: 30px 0;
}

.fa {
  font-size: 15px;
}

.slider-left {
  right: 105% !important;
}

.slider-right {
  left: 105% !important;
}

.slider-left>div,
.slider-right>div {
  background: var(--ifm-color-content);
  border: 0 !important;
  color: var(--ifm-color-content-inverse) !important;
  border-radius: 20px;
}

.slider-single img {
  background: black;
  /* Because some images are transparent and we don't want any transparency inside the slider */
  height: var(--slider-height);
  min-width: 100%;
  object-fit: cover;
}

/* Gallery Impl */

.gallery {
  padding: 40px;
}

.gallery-impl {
  display: flex;
  flex-wrap: wrap;
}

.gallery-frame {
  height: 45vh;
  padding: 5px;
  flex-grow: 1;
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.gallery-frame:last-child {
  flex-grow: 10;
}

.gallery-img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  transition-duration: 0.3s;
  cursor: pointer;
  background-image: url("../../static/img/transparent.png");
}

.gallery-infos {
  padding: 10px;
  display: none;
  position: absolute;
  width: 100%;

  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}

.gallery-infos a:hover {
  color: #79ffe2;
}

.gallery-frame:hover .gallery-infos {
  display: block;
  align-items: center;
  transition-duration: 0.3s;
  pointer-events: none;
}

.gallery-frame:hover a {
  pointer-events: all;
}

.gallery-frame:hover .gallery-img {
  filter: opacity(15%) brightness(1.75);
  transition-duration: 0.3s;
  pointer-events: all;
}

.gallery-header {
  padding: 10px;
}

.img-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000b8;

  z-index: 500;
  /*To display over the navbar*/
}

@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-down {
  0% {
    transform: scale(1);
    filter: opacity(100%);
  }

  100% {
    transform: scale(0.5);
    filter: opacity(0%);
  }
}

.animate-scale-down {
  z-index: 10;

  max-height: 95vh;
  max-width: 90vw;

  background-image: url("../../static/img/transparent.png");

  animation-name: scale-down;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.full-image {
  z-index: 10;
  max-height: 95vh;
  max-width: 90vw;
  background-image: url("../../static/img/transparent.png");

  animation-name: scale-up;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.img-overlay>i {
  position: absolute;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.img-overlay>.close-button {
  margin: 1.5vh;
  top: 0;
  right: 2vw;
  z-index: 600;
}

.img-overlay>.prev-button {
  margin: 1.5vh;
  top: 50%;
  left: 2vw;
  z-index: 600;
}

.img-overlay>.next-button {
  margin: 1.5vh;
  top: 50%;
  right: 2vw;
  z-index: 600;
}