/* ---- Cards ---- */
.cardSection {
  margin: 6rem 0;
}

.cardContainer {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: stretch;
  margin: 4rem 0;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 400px;
  background-color: var(--coollab-secondary-color);
  border: 1px solid;
  border-radius: var(--radius-max);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  padding: 0.7em;
  transition: 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-max);
  display: block;
}

.cardText {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 2.5rem 0.5em 1em 0.5em;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

/* === Responsive === */
@media (max-width: 768px) {
  .card {
    flex: 1 1 60%;
    max-width: 55%;
    padding: 0.7em;
  }
  .cardText {
    font-size: 0.9em;
  }
}
