.button {
  display: inline-block;
  /* width: fit-content; */ /* To give it a proper size, put it in a div with  width: fit-content; so that it gets the same size as the other buttons in the same div */
  /* height: fit-content; */
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0.4em 1.5em;
  background: white;
  color: var(--coollab-primary-color);
  border: 1px solid white;
  border-radius: var(--radius-mid);
  transition: all 0.3s ease;

  /* To space icon and text nicely */
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.capsLock {
  text-transform: uppercase;
  letter-spacing: 11%;
}

.button:hover {
  color: var(--coollab-primary-color);
  text-decoration: none;
  border-radius: var(--radius-max);
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

/* === Responsive === */
@media (max-width: 768px) {
  .button {
    justify-content: center;
    width: auto;
    min-width: 190px;
  }
}
