.contributeSection {
  padding: 8rem 2rem 4em 2em;
  background-color: var(--coollab-primary-color);
  color: white;
}

.title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-family: var(--font-title);
}

.sectionTitle {
  font-size: 2.5rem;
  padding-bottom: 1em;
  font-weight: bold;
  color: white;
}

.buttonWrapper {
  margin-top: 4em;
  text-align: center;
}

/* Buttons */
.secondaryBtn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0.4em 1.5em;
  background: white;
  color: var(--coollab-primary-color);
  border: 2px solid white;
  border-radius: var(--radius-mid);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 11%;
  transition: all 0.3s ease;
}

.secondaryBtn:hover {
  color: var(--coollab-primary-color);
  text-decoration: none;
  border-radius: var(--radius-max);
}
