.contributeSection {
  padding: 8rem 2rem 4em 2em;
  background-color: var(--coollab-primary-color);
  color: white;
}

.title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-family: var(--font-title);
}

.sectionTitle {
  margin-top:1em;
  font-size: 2.5rem;
  padding-bottom:1em;
  font-weight: bold;
  color: white;
}

/* -- Features section -- */
.featuresSection {
  text-align: center;
  padding:1em 3em;
}

.featuresSection .cardList {
  justify-content: center;
}

.featuresSection .cardText {
  padding:0 .4em;
}

.buttonWrapper {
  margin-top:4em;
  text-align: center;
}

/* Buttons */
.secondaryBtn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: .4em 1.5em;
  background: white;
  color: var(--coollab-primary-color);
  border: 2px solid white;
  border-radius: var(--radius-mid);
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing: 11%;
  transition: all 0.3s ease;
}

.secondaryBtn:hover {
  color: var(--coollab-primary-color);
  text-decoration: none;
  border-radius: var(--radius-max);
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card, .cardLink {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: var(--radius-max);
  background-color: var(--coollab-secondary-color);
  padding: .7rem;
  transition:.2s ease-in-out;
  cursor:pointer;
  color:inherit;
}

.card:hover, .cardLink:hover {
  transform: translateY(-5px);
  text-decoration: none;
}

.card a {
  text-decoration: none !important;
}

.cardIcon {
  min-width: 60px;
  height: 60px;
  border-radius: var(--radius-max);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--coollab-light-color);
  font-size: 1.8rem;
  margin-right: 1rem;
  flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.06);
  border:1px solid var(--coollab-light-color);
}

.cardText {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: white;
}

.cardText a {
  color: white;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .cardList {
    flex-direction: column;
    align-items: center;
  }
  .card, .cardLink {
    align-items: center;
  }
  .cardIcon {
    min-width: 50px;
    height:50px;
    font-size: 1.4rem;
    margin-right: .7rem;
  }
  .cardText {
    font-size: 0.95rem;
  }
}
