.buttonsRow {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

/* === Responsive === */
@media (max-width: 768px) {
  .buttonsRow {
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}
