.gallerySection {
  padding: 4em 1.5em 1.5em 1.5em;
  background-color: var(--coollab-primary-color);
  text-align: center;
}

.row {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.imageTile {
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: var(--radius-max);
  transition: transform 0.3s ease;
}

.imageTile:hover {
  transform: scale(1.03);
}

.narrow {
  flex: 0 0 35%;
}

.wide {
  flex: 1;
}

.buttonWrapper {
  text-align: center;
}

/* Buttons */
.secondaryBtn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: .4em 1.5em;
  background: white;
  color: var(--coollab-primary-color);
  border: 2px solid white;
  border-radius: var(--radius-mid);
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing: 11%;
  transition: all 0.3s ease;
}

.secondaryBtn:hover {
  color: var(--coollab-primary-color);
  text-decoration: none;
  border-radius: var(--radius-max);
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .narrow,
  .wide {
    flex: none;
    width: 100%;
  }
}
