.wrapper {
  position: relative;
  display: inline-block;
  aspect-ratio: 1 / 1;

  cursor: pointer;
}

.img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out, transform 0.2s, z-index 0.2s,
    border-radius 0.2s, border 0.2s;
}
/* .img:hover {
  transform: scale(1.2);
  z-index: 99;
  border-radius: var(--radius-mid);
  border: 1px solid;
} */

.fadeOut {
  opacity: 0%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 0;
  row-gap: 0;

  overflow: hidden; /* Make sure the corner-radius will apply to the child images */
}
