.section {
  color: white;
  text-align: center;
}

/* ---- Wave ---- */
.svgTop {
  position: relative;
  width: 100%;
  line-height: 0;
  display: block;
  margin-top: -20%;
  z-index: 3;
}

.sectionTitle {
  margin-top: 1em;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  padding: 0em 1em;
}

.sectionSubtitle {
  font-size: 1.2rem;
  margin: 1.5em 0 3em 0;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Roboto", sans-serif;
  padding: 0em 1em;
}

.content {
  background-color: var(--coollab-primary-color);
  padding-top: 0;
  z-index: 1;
  position: relative;
}

/* ---- Primary Button ---- */
.primaryBtn {
  display: inline-block;
  color: var(--coollab-light-color);
  background: var(--coollab-gradient);
  border-radius: var(--radius-mid);
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.primaryBtn:hover {
  filter: brightness(1.2);
  color: var(--coollab-light-color);
  text-decoration: none;
  border-radius: var(--radius-max);
}

/* ---- Cards ---- */
.cardSection {
  margin: 6rem 0;
}

.cardContainer {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: stretch;
  margin: 4rem 0;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 400px;
  background-color: var(--coollab-secondary-color);
  border: 1px solid;
  border-radius: var(--radius-max);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  padding: 0.7em;
}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-max);
  display: block;
}

.cardText {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 2.5rem 0.5em 1em 0.5em;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

/* === Responsive === */
@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.7em;
  }
  .sectionSubtitle {
    font-size: 1rem;
  }
  /* ---- Cards ---- */
  .card {
    flex: 1 1 60%;
    max-width: 55%;
    padding: 0.7em;
  }
  .cardText {
    font-size: .9em;
  }
}
