.section {
  color: white;
  text-align: center;
}

.svgTop {
  position:relative;
  width: 100%;
  line-height: 0;
  display: block;
  margin-top:-20%;
  z-index:3;
}

.sectionTitle {
  margin-top:1em;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.sectionSubtitle {
  font-size: 1.2rem;
  margin:1.5em 0 3em 0;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Roboto', sans-serif;
}

.content {
  background-color: var(--coollab-primary-color);
  padding-top: 0;
  z-index: 1;
  position: relative;
}

.video {
  max-width: 70% !important;
  height: 500px;
  margin: 0 auto 2rem auto;
  border: 1px solid var(--coollab-light-color);
  background-color: #29292C;
  border-radius: 30px;
}

.primaryBtn {
  display: inline-block;
  color: var(--coollab-light-color);
  background: var(--coollab-gradient);
  border-radius:var(--radius-mid);
  padding: .5rem 2rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.primaryBtn:hover {
  filter: brightness(1.2);
  color: var(--coollab-light-color);
  text-decoration: none;
  border-radius:var(--radius-max);
}