.block {
  display: flex;
  align-items: center;
}

@media (min-width: 769px) {
  .alignRight {
    flex-direction: row-reverse;
    /* text-align: right; */ /* NB: actually this looks really bad so we disabled it */
  }
  .alignTextRight {
    margin-right: 15px;
  }

  .alignTextLeft {
    margin-left: 25px;
  }

  .imageAndCaption {
    height: 150px;
    width: auto;
    flex-shrink: 0;
  }
}

/* === Responsive === */
@media (max-width: 768px) {
  .block {
    flex-direction: column;
    gap: 1rem;
  }
}
